body{
    background-color: #003eaf;
    font-family: Rubik;
    color: white;
}
.img-bg{
    position: fixed;
    bottom: 0;
    left: 20px;
    width: 30%;
    text-align: center;
    font-size: 14pt;
}
.tela-primeira-vez{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #003eaf;
    color: white;
    z-index: 1000;
}

.icon-ver{
    display: none;
    margin: auto;
    fill: white;
}
.cabecalho
{
    position: fixed;
    width: 100%;
    background-color: #5ab031;
    z-index: 999;
}

.cabecalho-link{
    color: #003eaf!important;
}

.cabecalho-selecionado{
    border: solid 2px #003eaf;
    border-radius: 20px;
}

.input-tip
{
    position: relative;
    background-color: #5ab031;
    color: white;
    padding: 1px 7px;
    border-radius: 10px;
}

.input-tip:hover{
    background-color: #39ade4;
    cursor: pointer;
}

.input-tip:hover #tip-text{
    display: block !important;
}

#tip-text
{
    position: absolute;
    left: 25px;
    top: 0;
    width: 250px;
    background-color: #39ade4;
    color: white;
    padding: 4px 10px;
    border-radius: 5px;
    display: none;
}

.tag-filtro{
    color: white;
    padding: 10px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 20px;
}

#filtro-personalizado{
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
}

.tag-favorito{
    position: absolute;
    right: 0;
    top: 0;
}

.tf-selecionado{
    background-color: #39ade4;
    color: #003eaf;
}

#account-button{
    display: flex !important;
    flex-wrap: wrap !important;
    float: left;
    width: fit-content;
    height: 40px;
    color: white;
}

#account-button > img{
    height: 100%;
}

#meu-perfil{
    position: fixed;
    width: 100%;
    height: calc(100% - 98px);
}

#meuperfil-mobile-btn{
    display: none;
}

#barra-lateral{
    margin: 0;
    background-color: #003eaf;
    color: white;
    padding: 20px;
    height: 100%;
}
#card-group{
    height: 100%;
    overflow: auto;
}

.mural{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.mural-item{
    position: relative;
    width: 100%;
    height: 500px;
    max-width: 500px;
    min-width: 360px;
    margin: 5px;
    background-color: #303030;
}

.mural-content{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mural-photo{
    /*z-index: -1;*/
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /*width: 100%;*/
    height: 100%;
}

.raw-photo{
    position: absolute;
    transform: translate(-50%);
    top: 0;
    left: 50%;
}

.mural-desc{
    text-align: left;
    max-width: 70%;
    position: absolute;
    left: 20px;
    bottom: 10px;
    color: white;
    user-select: none;
}

.mural-content > button{
    position: absolute;
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0));
}

.mural-content > button:hover{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    cursor: pointer;
}

.mural-content > button:hover svg{
    display: block;
}

.comentario-frame{
    display: flex;
    max-width: 640px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.comentario-item
{
    width: fit-content;
    padding: 10px;
}

.comentario-balao
{
    position: relative;
    background-color: #cbcbcb;
    color: #002569;
    padding: 5px 20px 25px 20px;
    margin: 5px 0px;
    text-decoration: none;
    border-radius: 20px;
    max-width: 480px;
    box-shadow: #0000003e 5px 5px 10px;

}

.comentario-balao > span{
    position: absolute;
    right: 25px;
    bottom: 5px;
    font-size: 9pt;
    font-style: italic;
}

#comentario-ipt{
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
}

.comentario-frame > button{
    font-size: 14pt;
}

.fixo{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.tag, .tag2{
    display: inline-block;
    width: fit-content;
    padding: 4px 15px;
    border-radius: 20px;
    background-color:#39ade4;
    color: #003eaf;
    color: white;
    user-select: none;
    font-size: 12pt;
}

.masc{
    background-color: blue;
}

.masc::before{
    background-image: url("../images/male-gender.png");
    background-size: 16px 16px;
    display: inline-block;
    width: 16px; 
    height: 16px;
    margin-right: 5px;
    content:"";
}

.fem::before{
    background-image: url("../images/female-gender.png");
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    margin-right: 5px;
    content:"";
}

.fem{
    background-color: rgb(233, 99, 211);
}

.viewer
{
    position: relative;
    min-width: 300px;
    width: 640px;
    height: 640px;
    overflow: hidden;
    border-radius: 15px;
}

.photo{
   display: flex;
   flex-wrap: wrap;
   /*justify-content: center;*/
   /*margin-top: 10px;*/
   margin: 15px 15px 15px 0px;
}

.photo-list{
    position: relative;
    display: flex;
    width: auto;
    /*min-width: 150px;*/
    margin: 0;
}

.photo-item, .photo-item-non-select
{
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 2px;
    border-radius: 5px;
}

.photo-item-non-select{
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 15px;
    margin: 0;
    margin-right: 6px;
    background-color: #39ade4;
}

.selected
{
    border: solid 4px #5ab031;
}

.selected-fill{
    background-color: #5ab031;
    color: #003eaf!important;
    border-radius: 20px;
}

.login-screen{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    background: linear-gradient(90deg, #003eaf 52% , #5ab031 52.1%)
}

.titulo-login
{
    color: white;
    font-size: 32pt;
}

.desc-login
{
    color: #5ab031;
    font-weight: 300;
    font-size: 16pt;
}

.tinder-pet-titulo{
    font-size: 32pt;
    font-weight: 700;
    margin-top: 10px;
    color: #5ab031;
}

.tinder-pet-titulo2{
    font-size: 26pt;
    font-weight: 700;
    color: #5ab031;
}

.tinder-pet-link{
    color: #39ade4;
}

.tinder-pet-input{
    max-width: 300px;
    width: 100%;
    text-decoration: none;
    padding: 6px 20px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    outline: 0;
    font-weight: 300;
    font-size: 16pt;
    color: #003eaf !important;
}

.tinder-pet-input-check{
    width: 20px;
    height: 20px;
}

/*.tinder-pet-input-file{
    background-color: #39ade4;
}*/

.tinder-pet-list-item, .tinder-pet-list-item2{
    border: solid 1px rgba(113, 113, 113, 0.703);
    color: white;
    padding: 15px;
    margin: 5px 0px;
    text-decoration: none;
    border-radius: 20px;
}

.tinder

.tinder-pet-list-item:hover{
    background-color: #39ade4;
}

.tinder-pet-button{
    max-width: 300px;
    /*width: 100%;*/
    appearance: none;
    all: unset;
    padding: 6px 20px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    outline: 0;
    background-color: #5ab031;
    font-weight: 800;
    text-decoration: none;
    font-size: 16pt;
    color: white;
    cursor: pointer;
}
.tinder-pet-success{
    background-color: #5ab031;
    color: white;
}
.tinder-pet-alternative{
    background-color: rgb(204, 0, 255);
    color: white;
}
.tinder-pet-danger{
    background-color: rgb(214, 7, 7);
    color: white;
}
.tinder-pet-neutro{
    background-color: gray;
    color: white;
}
.tinder-pet-save{
    background-color: #39ade4;
    color: white;
}
.tinder-pet-danger:hover, .tinder-pet-button:hover, .tinder-pet-neutro:hover{
    background-color: #39ade4;
}
.tinder-pet-frame, .tinder-pet-window{
    font-size: 14pt;
    margin-top: 20px;
}
.window-alert
{
    border: solid 2px red;
}
.tinder-pet-frame h3{
    /*background-color: #5ab031;*/
    color: #5ab031;
}
.tinder-pet-detalhe{
    color: white;
    border: solid 2px white;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding: 10px 25px;
    /*min-width: 300px;*/
}
/*.tinder-pet-detalhe p:after{
    margin-left: 20px;
    margin-right: 20px;
    content: "|";
}*/
.tinder-pet-window{
    background-color: #002569;
    color: rgb(204, 204, 204);
    margin: 15px;
    border-radius: 20px;
    padding: 15px;
}

.btn-login
{
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 20px;
    background-color: white;
    font-size: 16px;
    letter-spacing: 0.25px;
    text-align: center;
    color: #3c4043;
    width: 230px;
    margin-top: 10px;
}
.btn-login::before{
    background-image: url("../images/mail.png");
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    position: relative;
    top: 4px;
    margin-right: 5px;
    content:"";
}

.cad-label
{
    margin-top: 10px;
    font-size: 14pt;
    font-weight: 300;
    color: #5ab031;
}

.content{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.preview-foto-cad-pet
{
    display: none;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 2px;
    overflow: hidden;
}

.preview-foto-cad-pet img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
}

.image-controls-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.511);
}

.image-controls-btn > button{
    width: 50%;
    height: 40px;
    background-color: transparent;
    color: white;
    border: none;
}

.input-pet{
    max-width: 115px;
    position: relative;
    user-select: none;
    cursor: pointer;
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-pet > span{
    font-size: 14pt;
    font-weight: 300;
    text-align: center;
}

.input-pet > input{
    position: absolute;
    opacity: 0;
}

.input-pet-radio:checked ~ p{
    background-color: #003eaf;
    color: white;
}

.input-pet-radio:checked ~ .input-pet-img{
    border: solid 4px #003eaf;
}

.input-pet-radio:checked ~ svg path{
    fill: #5ab031;
}

.input-pet-radio:checked ~ label{
    color: #5ab031;
    font-weight: bold;
}

.input-pet-radio:checked ~ span{
    color: #5ab031;
    font-weight: bold;
}

.input-pet > span{
    text-align: center;
}

.info-edit-input,.info-edit-input2{
    display: none;
}

.mw-sidebar{
    max-width: 250px;
}

#meu-dados-btn a, #meus-anuncios-btn a, #adocoes-btn a, #notificacoes-btn a, #favoritos-btn a,  #dropdownUser1 strong{
    font-size: 14pt;
}

.ong-cover-group{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: gray;
    overflow: hidden;
}

.ong-profile-group{
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.ong-profile-photo{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    overflow: hidden;
}

.ong-profile-photo > img, .ong-cover-group > img{
    position: absolute;
    width: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
} 

.ong-cover-group > img{
    min-width: 820px;
}

.black-fade{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 40%);
}
.ong-cover-edit-btn{
    position: absolute;
    right: 20px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 40px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.511);
}

.ong-cover-edit-btn:hover{
    cursor: pointer;
}

.pix-image{
    position: relative;
    width: 220px;
    height: 220px;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
}

.pix-image > button{
    position: absolute;
    z-index: 1;
}

.pix-image > img{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    width: calc(100% - 30px );
    height: calc(100% - 30px );
    opacity: 0.3;
}

.ong-pet-link{
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

.ong-pet-link > img{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 150%;
    
}

.ong-pet-link > span{
    font-size: 14pt;
    position: absolute;
    transform: translate(-50%, 0);
    bottom: 10px;
    left: 50%;
    background-color: #003eaf;
    color: white;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (max-width: 600px) {
    .photo {
        flex-wrap: wrap;
    }
    .photo-list{
        display: flex;
    }
    #meu-dados-btn a, #meus-anuncios-btn a, #adocoes-btn a, #notificacoes-btn a, #dropdownUser1 strong{
        display: none;
    }
}

@media only screen and (orientation: portrait){
    .img-bg{
        position: relative;
        width: 100%;
        left: 0;
        margin: 0;
    }

    .img-bg img{
        width: 50%;
    }

    .login-screen{
        background: #003eaf;
    }

    #tela1, #tela2{
        margin-top: 40px;
        text-align: center!important;
        align-items: center!important;
    }

    .tinder-pet-detalhe{
        width: 100%;
        padding: 10px 10px;
    }
    
    .viewer{
        width: 100%;
    }

    .photo{
        margin: 0;
    }
    .photo-item-non-select{
        width: 24%;
    }
}

@media only screen and (max-width: 992px) {
    #account-button{
        display: none !important;
    }
    #meuperfil-mobile-btn{
        display: inline;
    }
}
